
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
    left: 0;
    right: 0;
    height: 70px;
    position: fixed;
    background-color: rgb(108, 0, 0);
    color: black;
    padding: 0 10%;
    z-index: 100;
    box-shadow: 0 4px 8px rgba(0,0,0,.3);
}
nav h1{
    font-size: 40px;
    color: aliceblue;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}
nav ul li a{
    position: relative;
    text-decoration: none;
    color: #ffffff;
    text-shadow: 0 4px 8px rgba(0,0,0,.3);
    font-size: 18px;
    font-size: 20px;
}
nav ul li a::after{
    content: "";
    width: 0;
    height: 3px;
    background-color: orangered;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
nav ul li a:hover::after{
    width: 100%;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    flex-direction: column;
    background-color: azure;
}
.textarea{
width: 400px;
height: 150px;
resize: none;
background-color: #333;
color: aliceblue;
font-size: 18px;
padding: 10px 10px;
box-shadow: 0 4px 8px rgba(0,0,0,.3);
margin: 20px 0;
border-radius: 10px;
}
.container button{
    padding: 10px 40px;
    font-size: 25px;
    background-color: green;
    color: white;
    border: none;
    border-radius: 30px;
    border-top-right-radius: 0;
    border-bottom-left-radius: 0;
    transition: 0.5s;
}
.container h1{
    font-size: 40px;
    color: red;
}
.container button:hover{
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
}